#imageDiv {
    div {
   text-align: center;
        margin: 10px;
        height: 350px;
        display: inline-block;
        img {
            height: 80%;
        }
    }
}
button {
    position: fixed;
    z-index: 4;
}
